@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

/* For dark mode */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: #555; 
    }

    ::-webkit-scrollbar-track {
        background: #222; 
    }
}
  